<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/style/bootstrap/css/bootstrap.css" th:href="@{/static/style/bootstrap/css/bootstrap.css}" />
</head>
<body>
<div class="container">
    <div th:if="${success}">
        aaaaaaaa
    </div>
    <form th:action="@{/user/add}" method="post" th:object="${user}">
        Search Url: <input type="text" th:field="*{email}" /><br />
        Search Url: <input type="text" th:field="*{password}" /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>