<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/oneColumn">
<head>
    <title>#{error.page.notFound.title}</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{error.page.notFound.title}">Page not found</h1>
    <p th:text="#{error.page.notFound.message}">The page you are looking for does not exist.</p>
</div>
</body>
</html>