<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:bootstrap="https://github.com/misino"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/oneColumn">
<head>
    <title>#{resetPassword.title}</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/auth/resetPassword}" th:object="${formObject}" method="post"
          class="col-sm-offset-2 col-sm-8 form-horizontal">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" th:field="*{email}"/>
        <input type="hidden" th:field="*{key}"/>
        <h1 th:text="#{resetPassword.title}" class="col-sm-offset-2">Reset Password</h1>
        <bootstrap:errorsummary/>
        <bootstrap:input label="#{password}" field="password" type="password"/>
        <bootstrap:input label="#{registerForm.repeatPassword}" field="repeatPassword" type="password"/>
        <bootstrap:input label="#{resetPassword.submit.label}" type="submit"/>
    </form>
</div>
</body>
</html>